html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

h1 {
    margin: 0;
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

img {
    border: 0;
    vertical-align: middle;
    max-width: 100%;
}

.summoner-icon img {
    border-radius: 20px;
}

.wrapper {
    width: 1080px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.profile-info {
    padding: 10px 10px 16px 0;
    display: flex;
    box-sizing: border-box;
    gap: 1.5rem;
}

.summoner-icon {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100px;
    height: 100px;
    flex-basis: 100px;
}

div.level {
    height: 20px;
    margin-top: -11px;
    text-align: center;
}

.summoner-icon div.level span.level {
    display: inline-block;
    line-height: 20px;
    padding: 0 8px;
    font-size: 12px;
    border-radius: 10px;
    color: #FFF;
    background-color: #202D37;
}

.player-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.summoner-name {
    font-size: 24px;
}

.update-button {
    background-color: #5383e8;
    border: none;
    padding: 10px;
    color: white;
    border-radius: .25rem;
}

.some-divider {
    border: 1px solid black;
    width: 100%;
    padding: 20px 0;
}

.content-container {
    background-color: #ebeef1;
    width: 100%;
}

.match-history {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.match-wrapper {
    display: flex;
    margin-bottom: 8px;
}

.match-wrapper:first-child {
    margin-top: 8px;
}

.match-wrapper:last-child {
    margin-bottom: 0;
}