ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 1px solid #4171D6;
  background-color: #5383e8;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5383e8;
    box-sizing: border-box;
    width: 1080px;
    height: 47.4px;
  }
  
  .route-list {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .route-item {
    margin-left: 0;
    display: list-item;
  }
  
  .navbar a {
    color: #B3CDFF;
    border-bottom: 3px solid transparent;
    font-size: 15px;
    line-height: 22px;
    padding: 13px 0 10px;
    text-decoration: none;
    position: relative;
  }

  .navbar a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
  }

  .navbar a:hover::after {
    background-color: white;
  }
  
  .navbar a:hover {
    color: white;
  }